.modal-bottom-pad {
	padding-bottom: 20px;
}

.classes-card {
	padding-left: 30px;
	padding-right: 30px;
	cursor: pointer;

}

.flight-queue {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 80%;
}

.queue-destination-text {
	font-size: 2em;
}

.queue-number-text{
	font-size: 2.3em;
}

.queue-container {
	padding-bottom: 5px;
	background-color: #b0bec5 !important;
	background-image: url("../img/bg-view.jpeg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.invi {
	display: none;
}

@media (min-width: 1px) { 

	.eachFlight {
	  width: 100%;
	  display: inline-block;
	}

}

@media (min-width: 768px) { 

	.eachFlight {
	  width: 50%;
	  display: inline-block;
	}

}


@media (min-width: 1300px) {

	.eachFlight {
	  width: 33.33333333% !important;
	}
}
    
.inlineBlock {
	display: inline-block;
}

.inviImportant {
	display: none;
}


.input-validation {
	color: red;
	display: none;
}