        <div class="sidebar" id="sidebarCollapsable" data-color="blue" data-image="../assets/img/sidebar-1.jpg">
            
            <div id="hide-on-small">
                <div class="logo ">

                    <a href="#" class="simple-text pull-left">
                        &nbsp; ESALES
                    </a>
                    <div class="arrowHide pull-right" id="btnSmallSideBar">
                        <center> 
                            <i class="material-icons ">arrow_back</i>
                        </center>
                    </div>
                </div>
                <div class="sidebar-wrapper" >
                    <ul class="nav ">
                        <li class="navStatus nav5J ">
                            <a href="./availability" class="">
                                <i class="material-icons">airplanemode_active</i>
                                <p class="">Flights Availability </p>
                            </a>
                        </li>
                        <li class="navStatus navRecord">
                            <a href="./record" class="">
                                <i class="material-icons">folder</i>
                                <p class="">PNR Records</p>
                            </a>
                        </li>
                        <li class="navStatus navIBE">
                            <a href="./IBEavailability" class="">
                                <i class="material-icons">send</i>
                                <p class="">Flights Availability (IBE)</p>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div id="expand-on-click">
                <div class=" showHideMenuArrow" id="arrowShowNHide" >
                    <center>
                        <i class="material-icons ">arrow_forward</i>
                    </center>
                </div>
                <a href="./availability" class=" miniAnchors" title="Flights Availability">
                    <div class="miniNavOptions miniNav5J miniFirstNav">
                        <center>
                            <i class="material-icons">airplanemode_active</i>
                        </center>
                    </div>
                </a>
                <a href="./record" class="  miniAnchors" title="PNR Records">
                    <div class="miniNavOptions miniNavRecord ">
                        <center>
                            <i class="material-icons">folder</i>
                        </center>
                    </div>
                </a>
                <a href="./IBEavailability" class=" miniAnchors " title="Flights Availability (IBE)">
                    <div class="miniNavOptions miniNavIBE">
                        <center>
                            <i class="material-icons">send</i>
                        </center>
                    </div>
                </a>
            </div>

        </div>