<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>ESALES</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="../assets/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    
    <link href="../stylesheets/awesomplete.css" rel="stylesheet" />
    <link href="../assets/css/amadeus.css" rel="stylesheet" />
</head>

<body>
    <div class="loading" style="display:none;">Loading&#8230;</div>
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="../assets/img/sidebar-1.jpg">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

            Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="#" class="simple-text">
                    ESALES
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="./availability">
                            <i class="material-icons">dashboard</i>
                            <p>Flights Availability</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="./record">
                            <i class="material-icons">list</i>
                            <p>PNR Records</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Table List </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Mike John responded to your email</a>
                                    </li>
                                    <li>
                                        <a href="#">You have 5 new tasks</a>
                                    </li>
                                    <li>
                                        <a href="#">You're now friend with Andrew</a>
                                    </li>
                                    <li>
                                        <a href="#">Another Notification</a>
                                    </li>
                                    <li>
                                        <a href="#">Another One</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">

                    <div class="col-md-12 alert queue-container" style="min-height: 177px;">
                        <div class=" col-xs-12 col-md-2 btnBookSell1" style=" display:none;">
                            <button type="submit" id="btnBook" class="btn btn-lg  " style="background-color: #26a69a; ; " data-toggle="modal" data-target=".mdlBook"><i class="material-icons ">play_arrow</i> BOOK FLIGHTS </button> 
                            
                            

                        </div>


                    
                        
                        <div class="col-md-9" id="queue-banner" >
                            
                        </div>
                        
                    </div>
                    
                    
                    <div class="col-md-12 col-sm-3" id="srcFlight">
                        <div class="card">
                            <div class="card-header" data-background-color="blue">
                                <h4 class="title">Search Flight</h4> 
                            </div>
                            <div class="card-content">
                                <form id="frmAvailability" autocomplete="off">   
                                    <div class="col-md-12" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Origin</label>
                                            <input type="text" id="txtOrigin" pattern="[A-Za-z]{3}" class="form-control txtField">
                                            <p class='input-validation txtOriginErrorMessage'>*Origin is required</p>
                                        <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Destination</label>
                                            <input type="text" id="txtDestination" pattern="[A-Za-z]{3}" class="form-control txtField">
                                            <p class='input-validation txtDestinationErrorMessage'>*Destination is required</p>
                                        <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Departure Date</label>
                                            <input type="text" id="txtDepartureDate" class="form-control datepicker txtField" >
                                            <p class='input-validation txtDepartureDateErrorMessage'>*Departure Date is required</p>
                                        <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Return Date</label>
                                            <input type="text" id="txtArrivalDate" class="form-control datepicker " disabled="">
                                        <span class="material-input"></span></div>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-info pull-right">SEARCH</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class=" col-sm-12 col-xs-12 invi" id="txtLegends" style="margin-bottom: 5px;">
                        <div class="col-md-4" >
                            <p id="lblOneWay" class="tripLabels1 pull-left origin-destination-label invi"><span id="oneWayOrigin"></span> <i class="material-icons">airplanemode_active</i> <span id="oneWayDestination"></span> </p>
                        </div>

                        <span class="new badge pull-right" style="color:white; background-color:#ffa21a; margin-left: 5px;" data-badge-caption="custom caption">Connecting Flights</span>

                        <span class="new badge pull-right" style="color:white; background-color:#00d3ee; margin-left: 5px;" data-badge-caption="custom caption">Normal Flights</span>
                        <br>
                    </div>
                    
                    <div class="" id="showResults">
                        
                    </div>
                    <div class="col-md-12">
                        <br>

                    </div>
                    
                    <div class="col-md-12" style="padding-left: 30px;">
                        <p id="lblRoundTrip" class="tripLabels2 pull-left origin-destination-label invi"><span id="roundTripOrigin"></span> <i class="material-icons">airplanemode_active</i> <span id="roundTripDestination"></span> </p>
                    </div>
                    <div class="" id="showResultsRoundTrip">
                        

                        
                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mdlBook" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="col-md-10 col-md-offset-1">
                        <div class="card">
                            <div class="card-header" data-background-color="blue">
                                <h4 class="title">Add Passenger</h4> 
                            </div>

                            <div class="card-content frmAddPax">
                                   
                                    <div class="col-md-12" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label ">First Name</label>
                                            <input type="text" id="txtFname" class="mdltxts form-control txtpsnger">
                                        <span class="material-input"></span></div>
                                    </div>

                                    <div class="col-md-12" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" id="txtLname" class="mdltxts form-control txtpsnger">
                                        <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-md-12" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Mobile Number</label>
                                            <input type="text" id="txtMnumber" class="mdltxts form-control txtpsnger">
                                        <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-md-12" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Email</label>
                                            <input type="text" id="txtEmail" class="mdltxts form-control txtpsnger">
                                        <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-xs-12 col-md-6" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label input-label-float">Passenger Type</label>
                                            <select type="text" id="txtPType" class="mdltxts form-control txtpsnger">
                                                <option value="ADT" selected>Aldult</option>
                                                <option value="CHD">Child</option>
                                                <option value="INF">Infant</option>
                                            </select>
                                        <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-xs-12 col-md-6" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label input-label-float">Gender</label>
                                            <select type="text" id="txtGender" class="mdltxts form-control txtpsnger">
                                                <option value="male" selected>Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        <span class="material-input"></span></div>
                                    </div>

                                    
                                    
                                    <button type="submit" id="btnAddPassenger"  class="btn btn-success pull-right">Add Passenger</button>
                                    <button type="submit" id="btnClosePssngrModal"  class="btn btn-warning pull-right">Close</button>
                                    
                                    <div class="clearfix"></div>
                               
                            </div>

                            <div id="lblPassengers" class="col-md-12 invi frmAddPax">
                                <br>
                                <hr>
                                <span >Passengers<span style="color:#9e9e9e">(click passenger to remove or edit)</span> :</span> <br>
                                <span id="insert_passengers">
                                    
                                </span>
                                <br>
                                <button type="submit" id="btnSubmitPassenger" class="btn btn-info pull-right">Submit</button>
                                <br><br>
                            </div>

                            <div class="card-content frmEditPax invi">
                                   <span id="paxId" class="invi"></span>
                                    <div class="col-md-12" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty ">
                                            <label class="control-label input-label-float">First Name</label>
                                            <input type="text" id="txtEditFname" class="mdltxts form-control txtpsnger">
                                        <span class="material-input"></span></div>
                                    </div>

                                    <div class="col-md-12" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label input-label-float">Last Name</label>
                                            <input type="text" id="txtEditLname" class="mdltxts form-control txtpsnger">
                                        <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-md-12" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label input-label-float">Mobile Number</label>
                                            <input type="text" id="txtEditMnumber" class="mdltxts form-control txtpsnger">
                                        <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-md-12" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label input-label-float">Email</label>
                                            <input type="text" id="txtEditEmail" class="mdltxts form-control txtpsnger">
                                        <span class="material-input"></span></div>
                                    </div>

                                    <div class="col-xs-12 col-md-6" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label input-label-float">Passenger Type</label>
                                            <select type="text" id="txtEditPType" class="mdltxts form-control txtpsnger">
                                                <option value="ADT" selected>Aldult</option>
                                                <option value="CHD">Child</option>
                                                <option value="INF">Infant</option>
                                            </select>
                                        <span class="material-input"></span></div>
                                    </div>

                                    <div class="col-xs-12 col-md-6" style="padding-left: 5px !important">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label input-label-float">Gender</label>
                                            <select type="text" id="txtEditGender" class="mdltxts form-control txtpsnger">
                                                <option value="male" selected>Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        <span class="material-input"></span></div>
                                    </div>
                                    
                                    <button type="submit" id="btnEdit"  class="btn btn-warning pull-right">Edit</button>
                                    <button type="submit" id="btnRemove"  class="btn btn-danger pull-right">Remove</button>
                                    <button type="submit" id="btnBack"  class="btn btn-info pull-right">Back</button>
                                    
                                    
                                    <div class="clearfix"></div>
                               
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    
</body>
<!--   Core JS Files   -->
<script src="../assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="../assets/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="../assets/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="../assets/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/bootstrap-notify.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="../assets/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/js/demo.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

<script src="../javascripts/awesomplete.min.js"></script>
<script src="../javascripts/airports.js"></script>
<script type="text/javascript">


    $( document ).ready(function() {

        
        //console.log(listOfAirports);

        function showNotif(from, align, color, message, icon) {

            $.notify({
                icon: icon,
                message: message

            }, {
                type: color,
                timer: 4000,
                placement: {
                    from: from,
                    align: align
                }
            });
        }
        
        new Awesomplete(document.getElementById("txtOrigin"), listOfAirports);

        new Awesomplete(document.getElementById("txtDestination"), listOfAirports);

        // function airportCode(codeToPass){
        //     $.ajax({
        //         url:"./airportCode",
        //         type:"POST",
        //         data:{
        //             query : codeToPass
        //         },
        //         contentType:"application/x-www-form-urlencoded; charset=UTF-8",
        //         dataType:"json",
        //         success: function(response, status){
        //             var list = [];
        //             var airportCodesCtr = 0;
        //             for (airportCodesCtr = 0; airportCodesCtr < response.length; airportCodesCtr++) { 
        //                 list[airportCodesCtr] = {
        //                     'label' : response[airportCodesCtr].display_name,
        //                     'value' : response[airportCodesCtr].code
        //                 };
                        
        //             }
        //             console.log(list);
        //             new Awesomplete(document.getElementById("txtOrigin"), {list});


  
        //             airportCodesCtr = 0
        //         }
        //     });
        // };
        
        

        // $( "#txtOrigin" ).keyup(function() {
        //     console.log($("#txtOrigin").val());
        //     airportCode($("#txtOrigin").val());
        // });
        

        $('#txtDepartureDate').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '0d'
        });

        $('#txtArrivalDate').datepicker({
            format: 'yyyy-mm-dd',

        });

        $("#txtDepartureDate").change(function() {
            $("#txtArrivalDate").datepicker("clearDates");
            $("#txtArrivalDate").datepicker("setStartDate", new Date($(txtDepartureDate).val()));

            $('#txtArrivalDate').prop('disabled', false);
        })


        var passengerID = 0;
        var passengerLimit = 0;
        var flightID = 0;
        var dontDoubleClick = false;
        var dontDoubleClick2 = false;
        var allowedPassenger = 0;
        var minimumPassenger = 0
        var arrayForPassengerLimit = [];
        var ctrForPassengerLimit = 0;
        var selectedModalID;


        function populatingFlightWithClasses(flight, counter, color, response, distinctClass) {

            flight.classes.forEach(function(eachClass){
                $('#eachClass' + counter).append(

                        '<div class=" col-md-3 col-xs-6 text-center classes-card ">' +
                            '<div class="alert alert-' + color + distinctClass + flight.lineItemNumber + eachClass.class +'" id="' + flight.flightDetails.flightNumber + eachClass.class + '">' +
                                '<span class="get-flight-number" style="display:none;">' + flight.flightDetails.flightNumber + '</span>' +
                                '<span class="get-flight-date" style="display:none;">' + flight.flightDetails.departure.date + '</span>' +
                                '<span class="get-flight-departure" style="display:none;">' + flight.flightDetails.departure.location + '</span>' +
                                '<span class="get-flight-arrival" style="display:none;">' + flight.flightDetails.arrival.location + '</span>' +
                                '<span class="get-flight-time" style="display:none;">' + flight.flightDetails.departure.time + '</span>' +
                                '<span class="get-flight-ITR-origin" style="display:none;">' + response.queryDetails.origin + '</span>' +
                                '<span class="get-flight-ITR-destination" style="display:none;">' + response.queryDetails.destination + '</span>' +
                                '<span class="get-flight-isConnecting" style="display:none;">' + flight.isConnecting + '</span>' +
                                '<span class="get-flight-lineNumber" style="display:none;">' + flight.lineItemNumber + '</span>' +
                                '<span class="get-elementclass-for-queue" style="display:none;">queue' + flight.lineItemNumber + eachClass.class +'</span>' +
                                '<span class="get-carrierCode" style="display:none;">' + flight.flightDetails.carrierCode +'</span>' +
                                '<h4 class="flight-class">Class: ' + eachClass.class + '</h4>' +
                                '<h4 class="flight-availability">Availability: ' + eachClass.availableCount + '</h4>' +
                            '</div>' +
                        '</div>' 
                );
            });
        }

        function classIsClick(elementClassName, isConnectingFlight) {
            $(elementClassName).click(function(){

                flightID = flightID + 1;
                var toIdentify = $(this).children('.get-flight-number').text() + '(' + $(this).children('.flight-class').text().substring(7) + ')';

                var isRepeat = false;
                $('.eachFlightIdentifier').each(function(i, obj) {

                    if($(this).text() == toIdentify){
                        showNotif('top','right', 'danger', 'Class is already selected', 'clear');
                        isRepeat = true;
                        return false;
                    }
                });


                
                if($(this).children('.flight-availability').text().substring(14) == 0){
                    showNotif('top','right', 'danger', 'Class not available', 'clear');
                }else{
                    if(!isRepeat){

                        $( ".btnBookSell1" ).show(); 
                        
                        $('#queue-banner').append(

                            '<div class="col-md-4   eachFlight ' + $(this).children('.get-elementclass-for-queue').text() + '" id="flight'  + flightID + '">' +
                                '<div class="alert text-center flight-queue eachSegments" id="thisSegment' + flightID + '" style="margin: auto; margin-top: 10px;"> ' +
                                    '<button type="button" aria-hidden="true" class="close btnRemoveFlight" id="flightRmvBtn' + flightID + '" style="color:black">×<span style="display:none;">' + $(this).children('.get-flight-isConnecting').text() + $(this).children('.get-flight-number').text() + '</span></button>' +
                                    '<br>' +
                                    '<p class="queue-destination-text">' + $(this).children('.get-flight-departure').text() +' <i class="material-icons">airplanemode_active</i> ' + $(this).children('.get-flight-arrival').text() + '</p>' +
                                    '<h3 class="queue-number-text eachFlightIdentifier">' + $(this).children('.get-flight-number').text() + '('+ $(this).children('.flight-class').text().substring(7) +')</h3>' +
                                    '<span id="get-segment-number' + flightID + '" style="display:none;">' + $(this).children('.get-flight-number').text() + '</span>' +
                                    '<span id="get-segment-date' + flightID + '" style="display:none;">' + $(this).children('.get-flight-date').text() + '</span>' +
                                    '<span id="get-segment-departure' + flightID + '" style="display:none;">' + $(this).children('.get-flight-departure').text() + '</span>' +
                                    '<span id="get-segment-arrival' + flightID + '" style="display:none;">' + $(this).children('.get-flight-arrival').text() + '</span>' +
                                    '<span id="get-segment-class' + flightID + '" style="display:none;">' + $(this).children('.flight-class').text().substring(7) + '</span>' +
                                    '<span id="get-segment-time' + flightID + '" style="display:none;">' + $(this).children('.get-flight-time').text() + '</span>' +
                                    '<span id="get-flight-ITR-origin' + flightID + '" style="display:none;">' + $(this).children('.get-flight-ITR-origin').text() + '</span>' +
                                    '<span id="get-flight-ITR-destination' + flightID + '" style="display:none;">' + $(this).children('.get-flight-ITR-destination').text() + '</span>' +
                                    '<span class="get-availability-count" style="display:none;">' + $(this).children('.get-flight-number').text() + $(this).children('.flight-class').text().substring(7) + $(this).children('.flight-availability').text().substring(14) +'</span>' +
                                    '<span id="get-flight-class-for-queue' + $(this).children('.get-flight-number').text() + '" style="display:none;">' + $(this).children('.get-elementclass-for-queue').text() + '</span>' +
                                    '<span id="get-carrier-code' + flightID + '" style="display:none;">' + $(this).children('.get-carrierCode').text() + '</span>' +
                                '</div>' +
                            '</div>'
                            
                        );

                        $('.modal' + selectedModalID.substring(3)).modal('hide');

                        // getAvailability($(this).children('.flight-availability').text().substring(14), $(this).children('.get-flight-number').text());

                        $("#flightRmvBtn" + flightID).click(function(){
                            var first_div = $(this).parent();
                            var main_div = $(first_div).parent();
                            
                            
                            if($(this).text().substring(1, 5) == "true"){
                                showNotif('top','right', 'warning', 'All connected flights are also removed', 'warning');

                               
                                var classToDelete = $("#get-flight-class-for-queue" + $(this).text().substring(5)).text();
                                
                                $("." + classToDelete).each(function(i, obj) {
                                    $(this).remove();
                                });
                                
                                if($('.eachFlight').length == 0){
                                    $('.btnBookSell1').hide();    
                                }
                                
                            }else{
                                $(main_div).remove();
                                if($('.eachFlight').length == 0){
                                    $('.btnBookSell1').hide();
                                }
                            }
                            

                            
                             
                        });

                        if($(this).children('.get-flight-isConnecting').text() == "true"){
                            
                            var connectingElementClass = isConnectingFlight + $(this).children('.get-flight-lineNumber').text() + $(this).children('.flight-class').text().substring(7);
                            var cardClassID = $(this).attr('id');
                            
                            

                            if(!dontDoubleClick){
                                dontDoubleClick = true
                                $('.' + connectingElementClass).each(function(i, obj) {
                                    if($(this).attr('id') != cardClassID){
                                        $(this).click();
                                        showNotif('top','right', 'warning', 'All connected flights are added', 'warning');
                                    }
                                });
                                dontDoubleClick = false;
                            }
                            
                        }
                    }

                }
                


            });
        }


        function validator() {

            var $form = $("#frmAvailability");
            var toReturn = true;

            //loop on each fields to check for errors
            $(".txtField", $form).each(function () {

                var txtId = $(this).attr('id'),
                    errorName = "." + txtId + "ErrorMessage";

                if ($(this).val() == "") {
                    $(errorName).show();
                    toReturn = false;
                }else {
                    $(errorName).hide();
                }
                
            });

            return toReturn;
        }

        function isFlightSelected(flightElementClass) {
            $("." + flightElementClass).click(function(){
            selectedModalID = $(this).attr('id');
            var showThisModal = true;
            if($('.eachSegments').length != 0){
                $('.eachSegments').each(function(i, obj) {
                    
                    var thisIdSegmentForChecking = $(this).attr("id").substring(11);
                    if($(this).children('#get-segment-number' + thisIdSegmentForChecking).text() == selectedModalID.substring(3)){
                        showThisModal = false;
                    }

                });

                if(showThisModal){
                    $('.modal' + selectedModalID.substring(3)).modal('show');
                    showThisModal = true;
                }else{
                    showNotif('top','right', 'danger', 'Class is already selected on this flight', 'clear');
                }
            }else{
                $('.modal' + selectedModalID.substring(3)).modal('show');
            }
            

        });
        }

        

        // function getAvailability(availability, flightNumber) {
            
        //     arrayForPassengerLimit[ctrForPassengerLimit] = {
        //         'flight' : flightNumber,
        //         'availability' : availability

        //     };

        //     ctrForPassengerLimit = ctrForPassengerLimit + 1;
        //     allowedPassenger = allowedPassenger + parseInt(availability);
        //     alert(arrayForPassengerLimit);
        // }

        $('form').submit(function( event ) {
            var lasti = 0;
            event.preventDefault(); 
            if(validator()) { 
                $.ajax({
                    url:"./availability",
                    type:"POST",
                    data:{
                        departure_date: $('#txtDepartureDate').val()  || '',
                        from: $('#txtOrigin').val() || '',
                        to: $('#txtDestination').val()  || '',
                        arrival_date : $('#txtArrivalDate').val()  || '',
                    },
                    contentType:"application/x-www-form-urlencoded; charset=UTF-8",
                    dataType:"json",
                    success: function(response, status){
                        $('#showResultsRoundTrip').empty();
                        $('.tripLabels2').hide();
                        $('#showResults').empty();
                        $('#txtLegends').show();
                        $('.tripLabels1').show();
                        $('#oneWayOrigin').html($('#txtOrigin').val());
                        $('#oneWayDestination').text($('#txtDestination').val());
                        

                        var i = 0 
                        response.availableFlights.forEach(function(flight){ 
                            i =  i + 1;
                            lasti = i;
                            var colorType = "info";
                            if(flight.isConnecting){
                                colorType = "warning";
                            }
                            $('#showResults').append(
                                '<div class="col-md-4 col-sm-6 col-xs-6 col-lg-2 flightsRslt"  id="rsl' + flight.flightDetails.flightNumber + '"  style="cursor: pointer">' +
                                    '<div class="card alert alert-' + colorType + '">' +
                                        '<div class="col-md-6 text-center">' +
                                            '<h3>' + flight.flightDetails.departure.location + '</h3>' +
                                            '<h4>' + moment(flight.flightDetails.departure.date, 'DDMMYY').format('YYYY-MM-DD') + ' </h4><h4> ' + flight.flightDetails.departure.time.slice(0, 2) + ":" + flight.flightDetails.departure.time.slice(2) + '</h4>' +
                                        '</div>' +
                                        '<div class="col-md-6 text-center">' +
                                            '<h3>' + flight.flightDetails.arrival.location + '</h3>' +
                                            '<h4>' + moment(flight.flightDetails.arrival.date, 'DDMMYY').format('YYYY-MM-DD') + ' </h4><h4> ' + flight.flightDetails.arrival.time.slice(0, 2) + ":" + flight.flightDetails.arrival.time.slice(2) + 
                                        '</div>' +
                                    '</div>' +
                                '</div>' +

                                '<div class="modal modal' + flight.flightDetails.flightNumber + '" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabe' + i + '" >' +
                                    '<div class="modal-dialog modal-lg" role="document" style="margin-top: 15px !important;">' +
                                        '<div class="modal-content ">' +
                                            '<div class="col-md-12 col-sm-12 ">' +
                                                '<div class="card modal-bottom-pad">' +
                                                    '<div class="row">' +
                                                        '<div class="col-md-12 text-center">' +
                                                            '<h3>' + flight.flightDetails.flightNumber + '</h3>' +
                                                            '<h4>Flight Number</h4>' +
                                                        '</div>' +
                                                        '<div class="col-md-3 col-xs-6 text-center">' +
                                                            '<h3>' +flight.flightDetails.departure.location + '</h3>' +
                                                            '<h4>' + flight.flightDetails.departure.date + ' | ' + flight.flightDetails.departure.time + '</h4>' +
                                                        '</div>' +
                                                        '<div class="col-md-3 col-xs-6 text-center">' +
                                                            '<h3>' + flight.flightDetails.arrival.location + '</h3>' +
                                                            '<h4>' + flight.flightDetails.arrival.date + ' | ' + flight.flightDetails.arrival.time + '</h4>' +
                                                        '</div>' +
                                                        '<div class="col-md-3 col-xs-6 text-center">' +
                                                            '<h3>' + flight.flightDetails.carrierCode + '</h3>' +
                                                            '<h4>Carrier Code</h4>' +
                                                        '</div>' +
                                                        '<div class="col-md-3 col-xs-6 text-center">' +
                                                            '<h3>' +flight.flightDetails.equipmentType  + '</h3>' +
                                                            '<h4>Equipment Type</h4>' +
                                                        '</div>' +
                                                        '<div class="col-md-3 col-xs-6 text-center">' +
                                                            '<h3>' + flight.lineItemNumber + '</h3>' +
                                                            '<h4>Line Item Number</h4>' +
                                                        '</div>' +
                                                        '<div class="col-md-3 col-xs-6 text-center">' +
                                                            '<h3>' + flight.stops + '</h3>' +
                                                            '<h4>Stops</h4>' +
                                                        '</div>' +
                                                        '<div class="col-md-3 col-xs-6 text-center">' +
                                                            '<h3>' + flight.productClass + '</h3>' +
                                                            '<h4>Product Class</h4>' +
                                                        '</div>' +
                                                        '<br>' +
                                                        '<div class="col-md-12 col-xs-12 text-center">' +
                                                            '<h3> Available Classes :</h3>' +
                                                        '</div>' +

                                                        '<span id="eachClass' + i + '" ></span>' +
                                                    '</div>' +
                                                '</div>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>'
                            );

                            
                            

                            populatingFlightWithClasses(flight, i, colorType, response, " class-card-id connectingID");
                            

                
                        });

                        
                        isFlightSelected('flightsRslt');
                
                        classIsClick(".class-card-id", "connectingID");

                        if($('#txtArrivalDate').val() != ""){
                            
                            $.ajax({
                                url:"./availability",
                                type:"POST",
                                data:{
                                    departure_date: $('#txtDepartureDate').val()  || '',
                                    from: $('#txtDestination').val() || '',
                                    to: $('#txtOrigin').val()  || '',
                                    arrival_date : $('#txtArrivalDate').val()  || '',
                                },
                                contentType:"application/x-www-form-urlencoded; charset=UTF-8",
                                dataType:"json",
                                success: function(response, status){
                                    $('#showResultsRoundTrip').empty();
                                    $('.tripLabels2').show();
                                    $('#roundTripOrigin').text($('#txtDestination').val());
                                    $('#roundTripDestination').text($('#txtOrigin').val());
                                    

                                    var i = lasti;
                                    response.availableFlights.forEach(function(flight){ 
                                        i =  i + 1;
                                        lasti = i;
                                        var colorType = "info";
                                        if(flight.isConnecting){
                                            colorType = "warning";
                                        }
                                        $('#showResultsRoundTrip').append(
                                            '<div class="col-md-4 col-sm-6 col-xs-6 col-lg-2 flightsRslt classToLoopOnCheck" id="rsl' + flight.flightDetails.flightNumber + '"  style="cursor: pointer">' +
                                                '<div class="card alert alert-' + colorType + '">' +
                                                    '<div class="col-md-6 text-center">' +
                                                        '<h3>' + flight.flightDetails.departure.location + '</h3>' +
                                                        '<h4>' + moment(flight.flightDetails.departure.date, 'DDMMYY').format('YYYY-MM-DD') + ' </h4><h4> ' + flight.flightDetails.departure.time.slice(0, 2) + ":" + flight.flightDetails.departure.time.slice(2) + '</h4>' +
                                                    '</div>' +
                                                    '<div class="col-md-6 text-center">' +
                                                        '<h3>' + flight.flightDetails.arrival.location + '</h3>' +
                                                        '<h4>' + moment(flight.flightDetails.arrival.date, 'DDMMYY').format('YYYY-MM-DD') + ' </h4><h4> ' + flight.flightDetails.arrival.time.slice(0, 2) + ":" + flight.flightDetails.arrival.time.slice(2) + 
                                                    '</div>' +
                                                '</div>' +
                                            '</div>' +

                                            '<div class="modal modal' + flight.flightDetails.flightNumber + '" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabe' + i + '" >' +
                                                '<div class="modal-dialog modal-lg" role="document" style="margin-top: 15px !important;">' +
                                                    '<div class="modal-content ">' +
                                                        '<div class="col-md-12 col-sm-12 ">' +
                                                            '<div class="card modal-bottom-pad">' +
                                                                '<div class="row">' +
                                                                    '<div class="col-md-12 text-center">' +
                                                                        '<h3>' + flight.flightDetails.flightNumber + '</h3>' +
                                                                        '<h4>Flight Number</h4>' +
                                                                    '</div>' +
                                                                    '<div class="col-md-3 col-xs-6 text-center">' +
                                                                        '<h3>' +flight.flightDetails.departure.location + '</h3>' +
                                                                        '<h4>' + flight.flightDetails.departure.date + ' | ' + flight.flightDetails.departure.time + '</h4>' +
                                                                    '</div>' +
                                                                    '<div class="col-md-3 col-xs-6 text-center">' +
                                                                        '<h3>' + flight.flightDetails.arrival.location + '</h3>' +
                                                                        '<h4>' + flight.flightDetails.arrival.date + ' | ' + flight.flightDetails.arrival.time + '</h4>' +
                                                                    '</div>' +
                                                                    '<div class="col-md-3 col-xs-6 text-center">' +
                                                                        '<h3>' + flight.flightDetails.carrierCode + '</h3>' +
                                                                        '<h4>Carrier Code</h4>' +
                                                                    '</div>' +
                                                                    '<div class="col-md-3 col-xs-6 text-center">' +
                                                                        '<h3>' +flight.flightDetails.equipmentType  + '</h3>' +
                                                                        '<h4>Equipment Type</h4>' +
                                                                    '</div>' +
                                                                    '<div class="col-md-3 col-xs-6 text-center">' +
                                                                        '<h3>' + flight.lineItemNumber + '</h3>' +
                                                                        '<h4>Line Item Number</h4>' +
                                                                    '</div>' +
                                                                    '<div class="col-md-3 col-xs-6 text-center">' +
                                                                        '<h3>' + flight.stops + '</h3>' +
                                                                        '<h4>Stops</h4>' +
                                                                    '</div>' +
                                                                    '<div class="col-md-3 col-xs-6 text-center">' +
                                                                        '<h3>' + flight.productClass + '</h3>' +
                                                                        '<h4>Product Class</h4>' +
                                                                    '</div>' +
                                                                    '<br>' +
                                                                    '<div class="col-md-12 col-xs-12 text-center">' +
                                                                        '<h3> Available Classes :</h3>' +
                                                                    '</div>' +

                                                                    '<span id="eachClass' + i + '" ></span>' +
                                                                '</div>' +
                                                            '</div>' +
                                                        '</div>' +
                                                    '</div>' +
                                                '</div>' +
                                            '</div>'

                                        
                                            
                                            
                                        );
                                        

                                        populatingFlightWithClasses(flight, i, colorType, response, " class-card-idRounTrip connectingIDRT");
                                                                                

                            
                                    });

                                    isFlightSelected('classToLoopOnCheck');

                                    classIsClick(".class-card-idRounTrip", "connectingIDRT");
                                    // $(".class-card-idRounTrip").click(function(){
                                    //     flightID = flightID + 1;
                                    //     var toIdentify = $(this).children('.get-flight-number').text() + '(' + $(this).children('.flight-class').text().substring(7) + ')';

                                    //     var isRepeat = false;
                                    //     $('.eachFlightIdentifier').each(function(i, obj) {

                                    //         if($(this).text() == toIdentify){
                                    //             alert('Class is already selected');
                                    //             isRepeat = true;
                                    //             return false;
                                    //         }
                                    //     });

                                    //     if(!isRepeat){

                                    //         $( ".btnBookSell1" ).show(); 
                                            
                                    //         $('#queue-banner').append(

                                    //             '<div class="col-md-4   eachFlight ' + $(this).children('.get-elementclass-for-queue').text() + '" id="flight'  + flightID + '">' +
                                    //                 '<div class="alert text-center flight-queue eachSegments" id="thisSegment' + flightID + '" style="margin: auto; margin-top: 10px;"> ' +
                                    //                     '<button type="button" aria-hidden="true" class="close btnRemoveFlight" id="flightRmvBtn' + flightID + '" style="color:black">×<span style="display:none;">' + $(this).children('.get-flight-isConnecting').text() + $(this).children('.get-flight-number').text() + '</span></button>' +
                                    //                     '<br>' +
                                    //                     '<p class="queue-destination-text">' + $(this).children('.get-flight-departure').text() +' <i class="material-icons">airplanemode_active</i> ' + $(this).children('.get-flight-arrival').text() + '</p>' +
                                    //                     '<h3 class="queue-number-text eachFlightIdentifier">' + $(this).children('.get-flight-number').text() + '('+ $(this).children('.flight-class').text().substring(7) +')</h3>' +
                                    //                     '<span id="get-segment-number' + flightID + '" style="display:none;">' + $(this).children('.get-flight-number').text() + '</span>' +
                                    //                     '<span id="get-segment-date' + flightID + '" style="display:none;">' + $(this).children('.get-flight-date').text() + '</span>' +
                                    //                     '<span id="get-segment-departure' + flightID + '" style="display:none;">' + $(this).children('.get-flight-departure').text() + '</span>' +
                                    //                     '<span id="get-segment-arrival' + flightID + '" style="display:none;">' + $(this).children('.get-flight-arrival').text() + '</span>' +
                                    //                     '<span id="get-segment-class' + flightID + '" style="display:none;">' + $(this).children('.flight-class').text().substring(7) + '</span>' +
                                    //                     '<span id="get-segment-time' + flightID + '" style="display:none;">' + $(this).children('.get-flight-time').text() + '</span>' +
                                    //                     '<span id="get-flight-ITR-origin' + flightID + '" style="display:none;">' + $(this).children('.get-flight-ITR-origin').text() + '</span>' +
                                    //                     '<span id="get-flight-ITR-destination' + flightID + '" style="display:none;">' + $(this).children('.get-flight-ITR-destination').text() + '</span>' +
                                    //                     '<span class="get-availability-count" style="display:none;">' + $(this).children('.get-flight-number').text() + $(this).children('.flight-class').text().substring(7) + $(this).children('.flight-availability').text().substring(14) +'</span>' +
                                    //                     '<span id="get-flight-class-for-queue' + $(this).children('.get-flight-number').text() + '" style="display:none;">' + $(this).children('.get-elementclass-for-queue').text() + '</span>' +
                                    //                 '</div>' +
                                    //             '</div>'
                                                
                                    //         );

                                    //         $('.modal' + selectedModalID.substring(3)).modal('hide');

                                    //         $("#flightRmvBtn" + flightID).click(function(){
                                    //             var first_div = $(this).parent();
                                    //             var main_div = $(first_div).parent();
                                                
                                    //             var confirmation = confirm("Delete this flight?");
                                               

                                    //             if(confirmation){
                                    //                 if($(this).text().substring(1, 5) == "true"){
                                    //                     alert("All connected flights are also removed");
                                                       
                                    //                     var classToDelete = $("#get-flight-class-for-queue" + $(this).text().substring(5)).text();
                                                        
                                    //                     $("." + classToDelete).each(function(i, obj) {
                                    //                         $(this).remove();
                                    //                     });
                                                        
                                    //                     if($('.eachFlight').length == 0){
                                    //                         $('.btnBookSell1').hide();    
                                    //                     }
                                                        
                                    //                 }else{
                                    //                     $(main_div).remove();
                                    //                     if($('.eachFlight').length == 0){
                                    //                         $('.btnBookSell1').hide();
                                    //                     }
                                    //                 }
                                    //             }

                                                
                                                 
                                    //         });

                                    //         if($(this).children('.get-flight-isConnecting').text() == "true"){
                                                
                                    //             var connectingElementClass = "connectingIDRT" + $(this).children('.get-flight-lineNumber').text() + $(this).children('.flight-class').text().substring(7);
                                    //             var cardClassID = $(this).attr('id');
                                                
                                                

                                    //             if(!dontDoubleClick2){
                                    //                 dontDoubleClick2 = true
                                    //                 $('.' + connectingElementClass).each(function(i, obj) {
                                    //                     if($(this).attr('id') != cardClassID){
                                    //                         $(this).click();
                                    //                         alert('This flight is a connecting flight. All connected flights with this schedule are added.');
                                    //                     }
                                    //                 });
                                    //                 dontDoubleClick2 = false;
                                    //             }
                                                
                                    //         }
                                    //     }
                                    // });

                                }
                            })
                        }else{
                            $('.tripLabels2').hide();
                        }

                    }
                })

                
            }
            
        });
        
        $("#btnBack").click(function(){
            $('.frmAddPax').show();
            $('.frmEditPax').hide();
        });

        $("#btnRemove").click(function(){
            var paxID = $('#paxId').html(); 
            
            $("#" + paxID).remove();

            passengerLimit = passengerLimit - 1;


            $('.frmAddPax').show();
            $('.frmEditPax').hide();

            if($('.eachPassenger').length == 0){
                $('#lblPassengers').hide();
            }
        });

        $("#btnEdit").click(function(){
            
            if($('#txtEditFname').val() == "" || $('#txtEditLname').val() == "" || $('#txtEditPType').val() == null) {
                showNotif('top','right', 'danger', 'First Name, Last Name, Passenger Type and one of the Contact Fields are required.', 'clear');
            }else if($('#txtEditMnumber').val() != "" || $('#txtEditEmail').val() != ""){

                var thisId = $('#paxId').html().substring(9);
                

                
                $('#getShowedName' + thisId).text($('#txtEditFname').val() + ' ' + $('#txtEditLname').val());
                $('#getFname' + thisId).text($('#txtEditFname').val()); 
                $('#getLname' + thisId).text($('#txtEditLname').val()); 
                $('#getMnumber' + thisId).text($('#txtEditMnumber').val()); 
                $('#getEmail' + thisId).text($('#txtEditEmail').val());
                $('#getPType' + thisId).text($('#txtEditPType').val());
                $('#getGender' + thisId).text($('#txtEditGender').val());   

                $('.frmAddPax').show();
                $('.frmEditPax').hide();
            }else{
                showNotif('top','right', 'danger', 'First Name, Last Name, Passenger Type and one of the Contact Fields are required.', 'clear');
            }
        });

        $("#btnAddPassenger").click(function(){
            var thisName = $('#txtFname').val() + ' ' + $('#txtLname').val();

            function addPassenger() {

                // $('.get-availability-count').each(function(i, obj) {
                //     alert($(this).text());
                // });
                
                
                if(passengerLimit == 9) {
                    showNotif('top','right', 'danger', 'Cannot add another passenger. Passenger limit reach.', 'clear');
                }else if($('#txtFname').val() == "" || $('#txtLname').val() == "" || $('#txtPType').val() == null || $('#txtGender').val() == null) {
                    showNotif('top','right', 'danger', 'First Name, Last Name, Passenger Type and one of the Contact Fields are required.', 'clear');
                }else if($('#txtMnumber').val() != "" || $('#txtEmail').val() != ""){
                    $('#lblPassengers').show();
                    passengerID = passengerID + 1;
                    passengerLimit = passengerLimit + 1;
                    $('#insert_passengers').append(
                        '<div class="eachPassenger" id="passenger' + passengerID + '" style="clear:both; display:inline-block; margin-right:10px; cursor:pointer" >' +
                            '<h3><span class="label label-success" id="getShowedName'+ passengerID + '" >' + $('#txtFname').val() + ' ' + $('#txtLname').val() + '</span></h3>' +
                            '<span id="getFname' + passengerID + '" style="display:none;">' + $('#txtFname').val() + '</span>' +
                            '<span id="getLname' + passengerID + '" style="display:none;">' + $('#txtLname').val() + '</span>' +
                            '<span id="getMnumber' + passengerID + '" style="display:none;">' + $('#txtMnumber').val() + '</span>' +
                            '<span id="getEmail' + passengerID + '" style="display:none;">' + $('#txtEmail').val() + '</span>' +
                            '<span id="getPType' + passengerID + '" style="display:none;">' + $('#txtPType').val() + '</span>' +
                            '<span id="getGender' + passengerID + '" style="display:none;">' + $('#txtGender').val() + '</span>' +
                        '</div>'
                    );
                    $('.txtpsnger').val('');

                    $("#passenger" + passengerID).click(function(){

                        $('#paxId').html($(this).attr("id")); 
                        
                        var thisId = $(this).attr("id").substring(9);
                        $('#txtEditFname').val($(this).children('#getFname' + thisId).text());
                        $('#txtEditLname').val($(this).children('#getLname' + thisId).text());  
                        $('#txtEditMnumber').val($(this).children('#getMnumber' + thisId).text());
                        $('#txtEditEmail').val($(this).children('#getEmail' + thisId).text());
                        $('#txtEditPType').val($(this).children('#getPType' + thisId).text());
                        $('#txtEditGender').val($(this).children('#getGender' + thisId).text());



                        $('.frmEditPax').show();
                        $('.frmAddPax').hide();
                        
                    });
                }else{
                    showNotif('top','right', 'danger', 'First Name, Last Name, Passenger Type and one of the Contact Fields are required.', 'clear');
                }

                
            }

            if($('.eachPassenger').length == 0){
                addPassenger();
            }else{
                var isNameSimilar = false;
                $('.eachPassenger').each(function(i, obj) {

                    i = i + 1;
                    var thisPassenger = $(this).children('#getFname' + i).text() + ' ' + $(this).children('#getLname' + i).text();

                    if(thisName == thisPassenger){
                        isNameSimilar = true;
                        
                    }

                
                }); 

                if(isNameSimilar){
                    var confirmation = confirm("Passenger name is already added. Continue adding?");

                    if(confirmation){
                        addPassenger();
                    }
                }else{
                    addPassenger();
                }
            }
            
            
        });

        $('#btnClosePssngrModal').click(function(){
            $('.mdlBook').modal('toggle');
            
        });

        $('#btnSubmitPassenger').click(function(){
            $('.loading').show();

            var passengers = [];
            var contacts = [];
            var segments = [];
            var passsengerCTR = 0;
            var contactCTR = 0;
            var segmentCTR = 0;
            var segmentReset = 0;
            var itineraries = [];
            var eachItinerary = {};
            var references = [];
            var eachReferences = {};

            $('.eachPassenger').each(function(i, obj) {
                i = i + 1;
                var thisId = $(this).attr("id").substring(9);

                passengers[passsengerCTR] = { 

                    "firstName": $(this).children('#getFname' + thisId).text(), 

                    "lastName": $(this).children('#getLname' + thisId).text(),

                    "gender": $(this).children('#getGender' + thisId).text(),

                    "travellerType": $(this).children('#getPType' + thisId).text()

                };

                if($(this).children('#getMnumber' + thisId).text() != ""){
                    eachReferences = {
                        "type" : "PR",
                        "id"   : i
                    }

                    references.push(eachReferences);
                    eachReferences = {};

                    contacts[contactCTR] = {

                      "type": "mobile",

                      "value": $(this).children('#getMnumber' + thisId).text(),

                      "references": references

                    };
                    references = [];
                    contactCTR = contactCTR + 1;
                }
                

                if($(this).children('#getEmail' + thisId).text() != ""){

                    eachReferences = {
                        "type" : "PR",
                        "id"   : i
                    }

                    references.push(eachReferences);
                    eachReferences = {};

                    contacts[contactCTR] = {

                      "type": "email",

                      "value": $(this).children('#getEmail' + thisId).text(),

                      "references": references

                    };
                    references = [];
                    contactCTR = contactCTR + 1;
                }

                passsengerCTR = passsengerCTR + 1;
            });


            var previousItineraryOrigin = "";
            var previousItineraryDestination = "";
            var isNewItinerary = false;
            var totalSegments = $('.eachSegments').length;

            var arrayOfItinerary = {};
            var arrayOFItineraryCtr = 0;
            var uniqueItinerary = {};

            $('.eachSegments').each(function(i, obj) {
                var thisIdSegment = $(this).attr("id").substring(11);
                
                var formattedDate = moment($(this).children('#get-segment-date' + thisIdSegment).text(), 'DDMMYY').format('YYYY-MM-DD')
                originalDate = formattedDate + ' ' + $(this).children('#get-segment-time' + thisIdSegment).text();

                segments[0] = {
                    "date": originalDate, 

                    "origin": $(this).children('#get-segment-departure' + thisIdSegment).text(), 

                    "destination": $(this).children('#get-segment-arrival' + thisIdSegment).text(), 

                    "flightNumber": $(this).children('#get-segment-number' + thisIdSegment).text() , 

                    "bookingClass": $(this).children('#get-segment-class' + thisIdSegment).text(), 

                    "company": $(this).children('#get-carrier-code' + thisIdSegment).text()

                }

                //console.log(segments);
                arrayOfItinerary[arrayOFItineraryCtr] = {
                    'origin'      : $(this).children('#get-flight-ITR-origin' + thisIdSegment).text(),
                    'destination' : $(this).children('#get-flight-ITR-destination' + thisIdSegment).text(),
                    'segments'    : segments
                };

                arrayOFItineraryCtr = arrayOFItineraryCtr + 1;
                segments = [];

                // var thisIdSegment = $(this).attr("id").substring(11);
                // if(previousItineraryOrigin == "" || previousItineraryOrigin == $(this).children('#get-flight-ITR-origin' + thisIdSegment).text()){
                        
                //     if(previousItineraryDestination == "" || previousItineraryDestination == $(this).children('#get-flight-ITR-destination' + thisIdSegment).text()){
                //         previousItineraryOrigin = $(this).children('#get-flight-ITR-origin' + thisIdSegment).text();
                //         previousItineraryDestination = $(this).children('#get-flight-ITR-destination' + thisIdSegment).text();
                //     }else{
                //         isNewItinerary = true;
                        

                //     }

                // }else{
                //     isNewItinerary = true;
                    

                // }
                
                // if(isNewItinerary){
                //     eachItinerary = {
                //         origin      : previousItineraryOrigin,
                //         destination : previousItineraryDestination,
                //         segments    : segments
                //     };
                //     segments = [];
                //     segmentReset = 0;
                //     itineraries.push(eachItinerary);
                //     eachItinerary = {};
                //     isNewItinerary = false;
                //     previousItineraryOrigin = $(this).children('#get-flight-ITR-origin' + thisIdSegment).text();
                //     previousItineraryDestination = $(this).children('#get-flight-ITR-destination' + thisIdSegment).text();
                // }

                // var formattedDate = moment($(this).children('#get-segment-date' + thisIdSegment).text(), 'DDMMYY').format('YYYY-MM-DD') 
                // originalDate = formattedDate + ' ' + $(this).children('#get-segment-time' + thisIdSegment).text();
                // segments[segmentReset] = {
                //     "date": originalDate, 

                //     "origin": $(this).children('#get-segment-departure' + thisIdSegment).text(), 

                //     "destination": $(this).children('#get-segment-arrival' + thisIdSegment).text(), 

                //     "flightNumber": $(this).children('#get-segment-number' + thisIdSegment).text() , 

                //     "bookingClass": $(this).children('#get-segment-class' + thisIdSegment).text(), 

                //     "company": "5J"

                // }

                // segmentReset = segmentReset + 1;
                // segmentCTR = segmentCTR + 1;
                // if(segmentCTR == totalSegments){
                //     eachItinerary = {
                //         origin      : $(this).children('#get-flight-ITR-origin' + thisIdSegment).text(),
                //         destination : $(this).children('#get-flight-ITR-destination' + thisIdSegment).text(),
                //         segments    : segments
                //     };
                //     segments = [];
                //     segmentReset = 0;
                //     itineraries.push(eachItinerary);
                //     eachItinerary = {};
                //     isNewItinerary = false;
                //     previousItineraryOrigin = $(this).children('#get-flight-ITR-origin' + thisIdSegment).text();
                //     previousItineraryDestination = $(this).children('#get-flight-ITR-destination' + thisIdSegment).text();
                // }

            });

            

           
            var uniqueItineraryIndex = 0;
            var allItnrCTR;
            var hasLength = false;
            var isSameOriDes = false;
            for(var key in arrayOfItinerary) {
                
                if(hasLength){
                    for(var key2 in uniqueItinerary) {
                        
                        if(arrayOfItinerary[key].origin == uniqueItinerary[key2].origin && arrayOfItinerary[key].destination == uniqueItinerary[key2].destination){

                            var nextIndex = uniqueItinerary[key2].segments.length;
                            uniqueItinerary[key2].segments[nextIndex] = arrayOfItinerary[key].segments[0]; 
                            isSameOriDes = true;
                        }


                    }

                    if(!isSameOriDes) {

                        uniqueItinerary[uniqueItineraryIndex] = {
                            origin      : arrayOfItinerary[key].origin,
                            destination : arrayOfItinerary[key].destination,
                            segments    : arrayOfItinerary[key].segments
                        };

                        uniqueItineraryIndex = uniqueItineraryIndex + 1;

                        
                    }
                    
                    isSameOriDes = false;
                
                }else{
                    

                    uniqueItinerary[uniqueItineraryIndex] = {
                        origin      : arrayOfItinerary[key].origin,
                        destination : arrayOfItinerary[key].destination,
                        segments    : arrayOfItinerary[key].segments
                    };

                    uniqueItineraryIndex = uniqueItineraryIndex + 1;
                    

                    hasLength = true;
                    
                }
                

                
                

                
            }

            for(var ITRCTR in uniqueItinerary) {

                itineraries.push(uniqueItinerary[ITRCTR]);
                
            }

            // console.log(uniqueItinerary);
            // console.log(arrayOfItinerary);
            // console.log(passengers);
            // console.log(contacts);
            //console.log(itineraries);
            $.ajax({
                url:"./segments",
                type:"POST",
                data:{
                    itineraries: itineraries || ''
                },
                contentType:"application/x-www-form-urlencoded; charset=UTF-8",
                dataType:"json",
                statusCode: {
                    200: function (response) {
                        $.ajax({
                            url:"./passengers",
                            type:"POST",
                            data:{
                                passengers: passengers || ''
                            },
                            contentType:"application/x-www-form-urlencoded; charset=UTF-8",
                            dataType:"json",
                            statusCode: {
                                200: function (response) {
                                    $.ajax({
                                        url:"./contacts",
                                        type:"POST",
                                        data:{
                                            contact: contacts || ''
                                        },
                                        contentType:"application/x-www-form-urlencoded; charset=UTF-8",
                                        statusCode: {
                                            200: function (response) {
                                                $('.loading').hide();
                                                var responseType = response.substring(0, 5);
                                                var successMsg = "Successfully book. Record Locator : " + response;
                                                showNotif('top','right', 'success', successMsg, 'clear');
                                                if(responseType == "Error" ){
                                                }else{
                                                    $('.eachFlight').remove();
                                                    $('.eachPassenger').remove();
                                                    $('.btnBookSell1').hide();
                                                    $('.mdltxts').val('');
                                                    $('.mdlBook').modal('hide');
                                                    passengers = [];
                                                    contacts = [];
                                                    segments = [];
                                                    passsengerCTR = 0;
                                                    contactCTR = 0;
                                                    segmentCTR = 0;
                                                    segmentReset = 0;
                                                    itineraries = [];
                                                    eachItinerary = {};
                                                    references = [];
                                                    eachReferences = {};
                                                    passengerLimit = 0;
                                                }

                                            }
                                        }
                                    })
                                }
                            }
                        })
                    }
                }
            })

           
        });
        
        
    });


    

</script>

</html>